.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}

.firstGrid {
  width: 300px;
  height: 500px;
  margin: 10px;
  overflow-y: auto;
}
img {
  margin: 5px;
}
.secondGrid {
  width: 300px;
  height: 500px;
  border: 2px solid black;
  overflow-y: auto;
}

.drop {
  border: 30px solid teal;
  width: 400px;
  height: 200px;
}
.container {
  display: flex;
  flex-direction: column;
}
.sequence {
  display: flex;
  align-items: center;
  gap: "2rem";
  padding-top: 0.25rem;
}
.icon {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
