.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}

.firstGrid {
  width: 200px;
  margin: 10px;
}
img {
  margin: 5px;
}
.secondGrid {
  width: 300px;
  height: 500px;
  border: 2px solid black;
}
